---
import { Button } from "./utils/Button";
import { SectionText, SubText } from "./utils/HeroText";
import { ArrowRight } from "@lucide/astro";
---

<section class="max-w-7xl mx-auto">
  <div class="max-w-3xl">
    <SectionText className="text-left"
      >Access <span class="gradient-text bg-clip-text text-transparent"
        >powerful
      </span> and helpful features</SectionText
    >
    <SubText className="text-left"
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae veritatis
      ut sint possimus, iure eligendi facere natus molestiae expedita cum
      molestias, dolor debitis sed, fugiat labore optio? Nemo, voluptates
      exercitationem.</SubText
    >
    <Button className="my-5 gap-1">Request a demo <ArrowRight /></Button>
  </div>
</section>
