---
import { Button } from "./utils/button";
import { SectionText, SubText } from "./utils/HeroText";
---

<section class="max-w-7xl mx-auto">
  <div class="max-w-3xl">
    <SectionText className="text-left"
      >Access <span
        class="bg-gradient-to-r from-[#DEC880]  via-[#FF347D] to-[#827DED] bg-clip-text text-transparent"
        >powerful
      </span> and helpful features</SectionText
    >
    <SubText className="text-left"
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae veritatis
      ut sint possimus, iure eligendi facere natus molestiae expedita cum
      molestias, dolor debitis sed, fugiat labore optio? Nemo, voluptates
      exercitationem.</SubText
    >
    <Button className="my-5">Request a demo</Button>
  </div>
</section>
