---
import { SectionText } from "./utils/HeroText";
---

<section>
  <SectionText>Connect to what you actually need</SectionText>
  <div class="max-w-7xl bg-neutral-900 h-28 mx-auto">
hello
  </div>
</section>
