---
import Image from "astro/components/Image.astro";
import liquidityImg1 from "../assets/Slider Image 01.jpg";
import liquidityImg2 from "../assets/Slider Image 02.jpg";
import liquidityImg3 from "../assets/Slider Image 03.jpg";
import { SectionText, SubText } from "./utils/HeroText";
---

<section class="p-28 bg-neutral-900 w-full">
  <div class="max-w-7xl mx-auto">
    <SectionText className="!max-w-4xl text-center"
      >Handcrafted to Manage all your Cash liquidity</SectionText
    >
    <SubText
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere beatae
      officia autem culpa excepturi totam.</SubText
    >
    <div class="flex justify-between gap-8 items-center py-12">
      <div class="md:w-2/5 text-left">
        <h3 class="text-4xl font-semibold py-4">
          Handcrafted to Manage all your Cash liquidity
        </h3>
        <SubText className="!text-left"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          maxime iste quod, nulla aliquid esse quo saepe, odio enim cum
          blanditiis quisquam possimus minus exercitationem nemo veritatis eum
          iure repudiandae</SubText
        >
        <SubText className="!text-left pt-4"
          >Lorem ipsum dolor sit amet.
        </SubText>
      </div>
      <div class="w-3/5 rounded-3xl relative ">
        <Image src={liquidityImg1} class="rounded-3xl h-full w-full z-2 -translate-0" alt={''} />
        <!-- <Image src={liquidityImg2} class="rounded-3xl h-full w-full z-1 -top-0" alt={''} />
        <Image src={liquidityImg3} class="rounded-3xl h-full w-full z-0" alt={''} /> -->
      </div>
    </div>
  </div>
</section>
